<div>
  
<nav class="navbar navbar-expand-lg bg-body-tertiary mb-4">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button class="btn btn-outline-success" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Employee</button>
        </li>
        
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>


<div class="container-fluid mt-4" style="overflow-y: auto; height:400px;">
    <table class="table table-primar table-hover">
      <thead>
        <tr>
          <th scope="col">Emp ID</th>
          <th scope="col">Last name</th>
          <th scope="col">First name</th>
          <th scope="col">Role</th>
          <th scope="col">Email</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td >1</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>mdo</td>
          <td>mdo</td>
          
          <td>
            <button class="btn btn-outline-primary me-2" type="button">Edit</button>
            <button class="btn btn-outline-danger" type="button">Delete</button>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>fat</td>
          <td>fat</td>
          <td>
            <button class="btn btn-outline-primary me-2" type="button">Edit</button>
            <button class="btn btn-outline-danger" type="button">Delete</button>
          </td>
        </tr>
        <tr>
          <td>3</td>
          <td colspan="2">Larry the Bird</td>
          <td>twitter</td>
          <td>twitter</td>
          <td>
            <button class="btn btn-outline-primary me-2" type="button">Edit</button>
            <button class="btn btn-outline-danger" type="button">Delete</button>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>twitter</td>
          <td>twitter</td>
          <td>
            <button class="btn btn-outline-primary me-2" type="button">Edit</button>
            <button class="btn btn-outline-danger" type="button">Delete</button>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>twitter</td>
          <td>twitter</td>
          <td>
            <button class="btn btn-outline-primary me-2" type="button">Edit</button>
            <button class="btn btn-outline-danger" type="button">Delete</button>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>twitter</td>
          <td>twitter</td>
          <td>
            <button class="btn btn-outline-primary me-2" type="button">Edit</button>
            <button class="btn btn-outline-danger" type="button">Delete</button>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>twitter</td>
          <td>twitter</td>
          <td>
            <button class="btn btn-outline-primary me-2" type="button">Edit</button>
            <button class="btn btn-outline-danger" type="button">Delete</button>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>twitter</td>
          <td>twitter</td>
          <td>
            <button class="btn btn-outline-primary me-2" type="button">Edit</button>
            <button class="btn btn-outline-danger" type="button">Delete</button>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>twitter</td>
          <td>twitter</td>
          <td>
            <button class="btn btn-outline-primary me-2" type="button">Edit</button>
            <button class="btn btn-outline-danger" type="button">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Recipient:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Message:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  
</div>