<div class="container text-center p-4">

    <div class="container shadow-sm col-md-4 bg-light" style="margin-top: 60px;padding: 30px 20px; border-radius: 10px;z-index: -1;">
        <div class="mb-4">
            <h5>Login here</h5>
            <img src="/assets/logo_background@2x.png" width="120px" alt="">
        </div>

        @if (message != null) {
          <div class="alert alert-warning d-flex align-items-center justify-content-center"  role="alert">
            
            <div >
              {{message}}
            </div>
        </div>
        }
        
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">username</span>
            <input type="text" [(ngModel)]="userObj.username" name="username" class="form-control" placeholder="@Username" aria-label="Username" aria-describedby="basic-addon1" required>
        </div>
    
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">password</span>
            <input type="password" [(ngModel)]="userObj.password" name="password" class="form-control" placeholder="@password" aria-label="Username" aria-describedby="basic-addon1" required>
        </div>
    
        <div class="d-grid gap-2 mt-4 text-center">
            <button class="btn btn-primary" type="button" [disabled]="progress" (click)="onLogin()">
              @if (progress) {
                <div class="d-flex justify-content-center">
                  <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
              }
              @else {Login}
              </button>
            <span class="forgot-password" data-bs-toggle="modal" data-bs-target="#exampleModal">Forgot password? </span>
        </div>
    </div>

    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Information</h1>
        
      </div>
      <div class="modal-body">
        <p>Contact your administrator!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>


    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
        <symbol id="check-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </symbol>
        <symbol id="info-fill" viewBox="0 0 16 16">
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
        </symbol>
        <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
      </svg>
</div>

<router-outlet></router-outlet>
